src/test/resources/strings/strings.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="a"
    xmlns:a="a"
    elementFormDefault="qualified">

    <xsd:element name="strings" type="a:Strings"/>

    <xsd:complexType name="Strings">
        <xsd:sequence>
            <xsd:element name="address">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="21"/>
                        <xsd:maxLength value="43"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>    
    
</xsd:schema>

