src/test/resources/notNull/notNull.xsd

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="a"
    xmlns:a="a"
    elementFormDefault="qualified">

    <xsd:element name="notnull" type="a:NotNullType"/>

    <xsd:complexType name="NotNullType">
        <xsd:sequence>
            <xsd:element name="notNullString" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>