src/test/resources/invoice/invoice.xsd

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="a"
    xmlns:a="a"
    elementFormDefault="qualified">

    <xs:element name="invoice" type="a:Invoice"/>

    <xs:complexType name="Invoice">
        <xs:sequence>
            <xs:element name="amount">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minExclusive value="0"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>    
    
</xs:schema>
